attrs==20.2.0
botocore==1.19.48
certifi==2020.12.5
cffi==1.14.4
chalice==1.21.7
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
ecdsa==0.14.1
enum-compat==0.0.3
httpie==2.3.0
idna==2.10
jmespath==0.10.0
mypy-extensions==0.4.3
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.7.4
Pygments==2.7.3
PySocks==1.7.1
python-dateutil==2.8.1
python-jose==3.2.0
PyYAML==5.3.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.6
six==1.15.0
urllib3==1.26.2
